@page
@model Attendance50.Pages.Students.IndexModel

@{
    ViewData["Title"] = "All Students";
}

<h1>All Students</h1>

<p>
    <a asp-page="Add">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Students[0].Group.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Students[0].Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Students[0].Nick)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Students) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Group.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nick)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
