@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-left">

    <form id="form1" asp-page="Index" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div>
            <input asp-for="UploadedFile" accept="text/html" lang="en" />
            <span asp-validation-for="UploadedFile" class="text-danger"></span>
            <input type="submit" id="submitCheck" value="Check" style="visibility: hidden" />
        </div>
        <br />


        <ul class="list-group" style="width: 50%">
            @foreach (var item in Model.Flows)
            {
            <li class="list-group-item">
                <input class="form-check-input" type="radio" name="flowIds" value="@item.Id" style="margin-left: 0;" />
                <span style="margin-left: 1.5rem;">@item.Name</span>
                <span style="float: right">
                    <a asp-page="/Flows/Details" asp-route-id="@item.Id">Report</a>
                </span>
                
            </li>
            }
        </ul>
    </form>

    <br />
    @if (Model.GroupedStudents != null && Model.GroupedStudents.Count() > 0)
    {
        <form asp-page="Index" asp-page-handler="Save" method="post">
            <input asp-for="MeetComment" placeholder="your comment if needed" style="width: 50%" />
            <input type="submit" value="Save" title="Сохранить в базе данных" />
        </form>

        <table>
            @foreach (var group in Model.GroupedStudents)
            {
                <tr>
                    <td style="font-weight:800">@group.Key (@group.Count(x => x.IsPresent) из @group.Count() )</td>
                </tr>
                @foreach (var stud in group)
                {
                    var color = stud.IsPresent ? "black" : "red";
                    <tr>
                        <td style="text-align:left; color:@color">@stud.Nick</td>
                    </tr>
                }
            }
        </table>
    }
    else
    {
        <h4 style="color:darkgrey">Как отметить отсутствующих</h4>
        <pre>
На странице встречи (Google Meet) выбрать вкладку "Участники" (должны показаться имена участников).
Сохранить страницу как "Webpage, Complete".
Сохраненный html-файл загрузить перетаскиванием или кнопкой "Choose File".

До выбора файла можно явно (радиокнопкой) указать поток, для которого проводится проверка.
Если поток не указан, он будет определен автоматически.
</pre>
    }
</div>

@section Scripts {
    <script>
        const fileField = document.querySelector("#UploadedFile");

        fileField.addEventListener("change", function () {
            document.querySelector("#submitCheck").click();
        });
    </script>
}