@page
@model Attendance.Pages.Reports.GroupModel
@{
}

<div class="container">
    <div class="row">
        <div class="col-4">
            <form asp-page="Reports/Group" metod="post">
                <select id="group" name="group" size="20">
                    @foreach (var group in Model.Groups)
                    {
                        <option>@group</option>
                    }
                </select>
                <input id="submit" type="submit" value="Ok" style="visibility: hidden"/>
            </form>
        </div>
        <div class="col-8">
            @if (Model.Students != null && Model.Students.Length > 0)
            {
                <table border="1">                    
                    <tr style="font-weight:800">
                        <td>@Model.Group (total @Model.Students.Count())</td>

                        @for (int i = 0; i < Model.Meets.Length; i++)
                        {
                            var meet = Model.Meets[i];
                            <td title="@meet.Comment (@meet.When)" style="width:20px">@((i + 1) % 10)</td>
                        }
                    </tr>
                    @foreach (var stud in Model.Students)
                    {
                <tr>
                    <td style="text-align:left;">@stud.ReverseName</td>
                    @foreach (var meet in Model.Meets)
                    {
                        var ms = meet.MeetStudents.SingleOrDefault(ms => ms.StudentId == stud.Id);
                        if (ms != null)
                        {
                            var mark = ms.IsPresent ? " " : "n";
                            <td class="active" onclick="tooglePresenсе(@ms.MeetId, @ms.StudentId, '@ms.IsPresent', this)">@mark</td>
                        }
                        else
                        {
                            <td class="active">n/a</td>
                        }
                    }
                </tr>
                    }
                   
                </table>
            } 
        </div>
        Alt+click - to toogle mark
    </div>
</div>

@section Scripts {
    <script>
        document.querySelector("#group").addEventListener("change", function() {
            document.querySelector("#submit").click();
        })
        
        async function tooglePresenсе(meetId, studentId, isPresent, source)
        {
            if (event.altKey) {
                const data = { MeetId: meetId, StudentId: studentId, IsPresent: isPresent };
                const url = '/Reports/Group?handler=Ajax';

                const response = await fetch(url, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        RequestVerificationToken:
                            $('input:hidden[name="__RequestVerificationToken"]').val()
                    },
                    body: JSON.stringify(data)
                });

                const ms = await response.json();
                source.innerHTML = ms.isPresent ? "" : "n";
            }
        }
    </script>
}