@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-left">

    <form id="form1" asp-page="Index" method="post" enctype="multipart/form-data"  >
        <p>
            <a asp-page="Filter" asp-route-returnUrl="Index"
               asp-route-filterName="@IndexModel.GROUPS_FILTER_NAME" style="margin-left: 40px" title="Filter">
                Filter
               <span class="badge-warning" title="Lecture Name Filter">@Model.FilterValue</span>
            </a>  
            
            
            <span style="margin-left:10px; color: darkgray" title="1-й поток">ПЗПІ-20-[12345][^0]</span>
            <span style="margin-left:10px; color: darkgray" title="2-й поток">ПЗПІ-20-([6789]|10)</span>
        </p>


        <p>
            <input asp-for="UploadedFile" accept="text/html"  lang="en"/>
            <input type="submit" id="submitCheck" value="Check" style="visibility: hidden"/>
        </p>
    </form>

    <hr />
    @if (Model.GroupedStudents != null && Model.GroupedStudents.Count() > 0)
    {

        <form asp-page="Index" asp-page-handler="Save" method="post">
            <input asp-for="MeetComment" placeholder="your comment if needed" style="width: 50%"/>
            <input type="submit" value="Save" title="Сохранить в базе данных" />
        </form>

        <table>
            @foreach (var group in Model.GroupedStudents)
            {
                <tr>
                    <td style="font-weight:800">@group.Key (@group.Count(x => x.IsPresent) из @group.Count() )</td>
                </tr>
                @foreach (var stud in group)
                {
                    var color = stud.IsPresent ? "black" : "red";
                    <tr>
                        <td style="text-align:left; color:@color">@stud.Nick</td>
                    </tr>
                }
            }
        </table>
    }
    else
    {
<h3>Инструкция</h3>
<pre>
На странице встречи (Google Meet) выбрать вкладку "Участники" (должны показаться имена участников).
Сохранить встречу как "Webpage, Complete".
Сохраненный html-файл загрузить перетаскиванием или кнопкой "Choose File".

Перед выбором файла в верхнем поле можно задать группы, для которых проводится перекличка.
Если группы не заданы, перекличка охватит те группы, которые представлены на встрече хотя бы одним студентом.

</pre>
    }
</div>

@section Scripts {
    <script>
        document.querySelector("#UploadedFile").addEventListener("change", function () {
            document.querySelector("#submitCheck").click();
        })
    </script>
}