@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    //var students = Model.CheckedStaff.GroupBy(s => s.Group);
}

<div class="text-left">

    <form id="form1" asp-page="Index" method="post" enctype="multipart/form-data">
        <input asp-for="UploadedFile" accept="text/html"/>
    </form>

@if (Model.CheckedStaff != null && Model.CheckedStaff.Length > 0) {
    <hr/>
    <form asp-page="Index" asp-page-handler="Save" method="post">
        <input asp-for="MeetComment" />
        <input type="submit" value="Save" />
    </form>

    <table>
        @foreach (var group in Model.CheckedStaff.GroupBy(s => s.Group))
        {
            <tr>
                <td style="font-weight:800">@group.Key (@group.Count(x => x.IsPresent) из @group.Count() )</td>
            </tr>
            @foreach (var stud in group)
            {
                var color = stud.IsPresent ? "black" : "red";
                <tr>
                    <td style="text-align:left; color:@color">@stud.Surname @stud.Name</td>
                </tr>
            }
        }
    </table>
}
</div>

@section Scripts {
   <script>
       // 
       document.querySelector("#UploadedFile").addEventListener('change', function (e) {
           document.querySelector("#form1").submit();
       });

   </script>
}