@page
@model Attendance50.Pages.Flows.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <div class="row">

        <div class="col-8">
            
                <table border="1">
                    <tr style="font-weight:800">
                        <td>@Model.Flow.Name (total @Model.Students.Count())</td>

                        @for (int i = 0; i < Model.Checks.Length; i++)
                        {
                            var check = Model.Checks[i];
                            int no = (i + 1) % 10;

                            <td title="@check.When" style="width:20px">
                                 <a href="deletecheck?id=@check.Id&flowId=@Model.Flow.Id">@no</a>
                            </td>
                        }
                    </tr>
                    @foreach (var stud in Model.Students)
                    {
                    <tr>
                        <td style="text-align:left;">@stud.ReverseName</td>

                        @foreach (var check in Model.Checks)
                        {
                            string mark = check.CheckStudents.Any(cs => cs.StudentId == stud.Id) ? "" : "н";

                            <td onclick="tooglePresenсе(@check.Id, @stud.Id, this)">@mark</td>
                        }
                    </tr>
                    }

                </table>
            
        </div>
        <hr/>
        Alt+click - to toogle mark
    </div>
</div>

@section Scripts {
    <script>
        async function tooglePresenсе(checkId, studentId, source)
        {
            let willBePresent = source.innerHTML.trim() !== "";
            if (event.altKey) {
                const data = { CheckId: checkId, StudentId: studentId, willBePresent};
                const url = '/Flows/Details?handler=Ajax';

                const response = await fetch(url, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        RequestVerificationToken:
                            $('input:hidden[name="__RequestVerificationToken"]').val()
                    },
                    body: JSON.stringify(data)
                });

                const json = await response.json();
                if (typeof (json) == "string")
                    console.log(json);
                else 
                    source.innerHTML = json.willBePresent ? "" : "н";
            }
        }
    </script>
}